* {
  box-sizing: border-box;
  // font-size: 16px;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 2vw;
  display: flex;
  flex-direction: column;
  background-color: #beb9c9c0;
  
  /* background-image: url('../../assets/images/damatt-header01.jpg'); */
  /* background-image: url(<%= asset_path 'damatt-header01.jpg' %>) */
  background-image: image-url('damatt-header01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.damatt-icon-wrap {
  width: 25vw;
  /* padding: 2vh 2vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: greenyellow; */
}

.search-bar-contents {
  width: 65vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 233, 233);
  font-size: 1.5em;
}

.damatt-icon {
  width: 160px;
  margin-right: 8vw;
  justify-content: space-between;
  margin-left: 5px;

}

.search-button {
  width: 6vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  font-size: 1.5vh;
}

.csv-button {
  width: 7vh;
  border: 0;
  cursor: pointer;
  // background-color: #3ccace;
  padding: 8px;
  font-size: 1.5vh;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.lists-center {
  display: flex;
  min-width: 200px;
  color: yellow;

}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.member-name {
  text-decoration: none;
  margin-right: 1px;
  color: #333333;
  font-weight: bold;
  line-height: 3vh;
  font-size: 1.5vh;

}

.logout {
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
  line-height: 3vh;
  font-size: 1.5vh;

}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 2vw;
  color: #ffffff;
  font-size: 1.5vh;

}

.sign-up {
  text-decoration: none;
  color: #333333;
  margin-left: 20px;
  line-height: 32px;
  font-size: 1.5vh;

}