<%= render "shared/second-header" %>
<header class="items-registration-header">
</header>

<div class="items-registration-contents">

  <%= render partial: 'itemregistration', locals: {item: @item} %>

</div>

<%= render "shared/second-footer" %>